.navbar-brand {
  padding-left: 20px;
  display: flex;
}

#mainNav {
  background-color: #283618;
  height: 90px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

:root {
  --bs-primary: #bc6c25;
  --bs-link-color: #bc6c25;
  --bs-link-hover-color: #bc6c25;
}

section {
  padding: 50px 0;
}

.leadText {
  font-size: 32px;
  line-height: 34px;
}

header.masthead {
  background-image: url('../../assets/img/header-bg.jpg');
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.7);
}

.text-primary {
  color: #dda15e !important;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #dda15e;
  text-decoration: blink;
}

#portfolio {
  display: none;
}

.btn-primary {
  color: #fff;
  background-color: #dda15e;
  border-color: #dda15e;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.icon-pencil {
  width: 50px;
}

.icon-lock {
  width: 50px;
}

.icon-laptop {
  width: 50px;
}

.icon-circle {
  width: 50px;
}

ul.social-buttons li a {
  display: flex;
  align-items: center;
  justify-content: center;
}

#mainNav .navbar-nav .nav-item .nav-link.active {
  color: #fff;
}

#mainNav .navbar-toggler {
  background-color: #606c38;
  border-color: #606c38;
  margin-right: 20px;
}

#mainNav.navbar-shrink {
  background-color: #283618;
}

#navbarResponsive {
  background-color: #283618;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-left: 0;
  padding-right: 0;
}